:root {
  --primary-bg: #121212;
  --secondary-bg: #393939;
  --primary-text: #ffffff;
  --secondary-text: #a0a0a0;
  --accent-color: #a7a7a7;
  --highlight-react: #61dafb;
  --highlight-node: #339933;
  --highlight-express: #000000;
  --highlight-playwright: #2ead33;
  --highlight-postman: #ff6c37;
  --highlight-jenkins: #d24939;
  --highlight-github: #181717;
}

body {
  margin: 0;
  font-family: "Embed code", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  letter-spacing: 0.3px; /* Añade un ligero espacio entre letras */
  word-spacing: 1px; /* Añade un pequeño espacio extra entre palabras */
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
